<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-8 pt-1">
            <a class="blog-header-logo text-white" href="/">Django Blog</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            {% if not user.is_authenticated%}
            <a class="btn btn-sm btn-warning" href="{% url 'login' %}">Login</a> &nbsp;
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'register' %}">Register</a>
            {% else %}
            <a class="btn btn-sm btn-warning" href="{% url 'logout' %}">Logout</a> &nbsp;
            <a href="">{{user}}</a>
            {% endif %}
        </div>
    </div>
</header>